.face2 h2 {
  font-size: 30px !important;
  color: rgb(34, 81, 96) !important;
}

.face1 h2 {
  color: rgb(34, 81, 96) !important;
}

.card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #89bffc 0%, #ffff 45%) !important;
  border-radius: 15px;
}

.java {
  background-color: rgb(44, 85, 95) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.content h2{
    color: rgb(27, 27, 27) !important;
}
