<app-head-nav></app-head-nav>

<div class="event-top" id="top">
    <div class="d-flex justify-content-center">
    <div class="head-event text-center ">
        <h1 class="heading">ICTAK <em>EVENTS</em></h1>
    </div>
    </div>
</div>
<div class=" events d-flex justify-content-center">
  <!-- conclave -->
  <div class="card card1 d-flex justify-content-center " style="width: 20rem;">
      <div class="d-flex justify-content-center">
        <img src="assets/images/icset-conclave.png" alt="conclave">
      </div>
      <div class="d-flex justify-content-center">
          <h4>ICSET <em>Conclave'21</em> </h4>
      </div> <br>
      <div>
          <p class="text-justify">
            ICSET is the hallmark Academia-Industry collaboration event in the State that deliberates
             on multiple disciplines around a contemporary subject. This year's theme is 'Leading the New 
             Normal', and we have lined up around twenty top leaders and experts from diverse backgrounds - from 
             the world of Science, 
            Technology, Business, Government and Social development.
          </p>
      </div>
      <div class="d-flex justify-content-center">
        <button class="scroll-to-section" class="btn btn1 "> <a href="/events#conclave-more">More Details</a></button>

        <button class="btn btn1 "> <a href="https://icset2021.nowvirtual.live/login.aspx" target="_blank">Register</a></button>
      </div>
  </div>
  <!-- conclave end -->

   <!-- techathlon -->
  <div class="card card1 d-flex justify-content-center" style="width: 20rem;">
       <div class="d-flex justify-content-center">
        <img src="assets/images/techathlon.png" alt="techthlon">
       </div>
      <div class="d-flex justify-content-center">
          <h4>ICTAK <em>Techathlon</em></h4>
      </div> <br>
      <div>
          <p class="text-justify">'Techathlon' is an annual Technical Skills Competition organized by ICT Academy of Kerala.
               It’s a unique competition designed in-line with employability skills assessments conducted by 
               global organisations with multiple rounds played by a team of three members to win the cash prize 
               of Rs. 50,000/-. 
              The first and second runner-ups will also receive cash prizes.</p>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn1 "> <a href="/events#techathlon-more"> More Details</a> </button>

        <button class="btn btn1 "> <a href="https://ictkerala.org/icset2021/registration/" target="_blank">Register</a></button>
      </div>
  </div>
  <!-- techathlon end -->

   <!-- paper present -->
  <div class="card card1 " style="width: 20rem;">
     <div class="d-flex justify-content-center">
        <img src="assets/images/paper.png" alt="paper presentation">
      </div>
      <div class="d-flex justify-content-center">
          <h4 class="text-center">ICTAK <em>Paper Presentation</em></h4>
      </div>
      <div>
          <p class="text-justify">ICSET is a premier forum for the presentation of new advances and research results in the fields of Skills,
               Engineering & Technology. The papers shortlisted will go through multiple rounds of evaluation and 
               selection process and the best paper is given a cash award of Rs. 10,000/-. 
              The winning and shortlisted papers are published in ICTAK Convergence Journal.</p>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn1 "><a href="/events#paper-more">More Details</a></button>

        <button class="btn btn1 "> <a href="https://forms.gle/TRpfuWgbmn4fFHZx8" target="_blank" >Register</a></button>
      </div>
      
  </div>
  <!-- paper prsrnt end -->
</div>

<div class="event-details">
  <!-- //first event -->
<section class="section" id="conclave-more">
<div class="conclave d-flex justify-content-center ">
  <div class="col-lg-8 card card2 "  >
    <div>
      <h2>ICSET CONCLAVE'21</h2>
    </div>
    <div>
      <p class="text-justify">
        The fifth edition of ICT Academy of Kerala’s International Conclave on Skills, Engineering & Technology (ICSET)
         is aimed at bringing closer the academia, industry, government and connected stakeholders at large, to discuss, deliberate and exchange ideas
         about skills, engineering and technology areas. This year's main theme is 'Leading the New Normal'.
        A chosen diaspora of eminent speakers from across the world would be speaking or presenting their ideas 
        under four major sub-themes (a) Innovation and Entrepreneurship in the New Normal (b) Knowledge Economy - The New 
        Normal Career Opportunities (c) Changing Lifestyle in the New Normal (d) Technology Impact to Business and life in New Normal. The programme 
        will be useful for researchers, academicians, Industrialists and practitioners across the globe and pave
         ways to explore the subject areas in a collaborative environment.
      </p>
    </div>
  </div>
  <div class="col-lg-4 ">
    <div class="card card2-con d-flex justify-content-center">
      <button class="btn btn1 ">Program Schedule</button>
      <button class="btn btn1 ">Speakers List</button>
      <hr> <br>
      <p class="text-center text-primary">Conference Dates: 2021 Mar 15 & 16</p>
      <p class="text-center text-primary"> No Registration Fee</p>
      
    </div>

  </div>
</div>
</section>
<!-- //first evnet end -->

  <!-- //second event -->
  <section class="section" id="techathlon-more">
  <div class="conclave d-flex justify-content-center ">

    <div class="col-lg-4 ">
      <div class="card card2-con d-flex justify-content-center">
        <p class="text-center">Registration: <b>Feb 18 - Feb 28</b> </p>
        <p class="text-center">Competition Phase: <b>Mar 01 - Mar 16</b></p>
        <hr> 
        <p class="text-center text-danger prizes"><b> PRIZES</b></p>
        <p class="text-center text-danger"> Winner: 50,000 INR</p>
        <p class="text-center text-danger"> 1st Runner-up: 25,000 INR</p>
        <p class="text-center text-danger">2nd Runner-up: 10,000 INR</p>
      </div>
    </div>
    <div class="col-lg-8 card card3 ">
      <div>
        <h2>TECHATHLON</h2>
      </div>
      <div>
        <p class="text-justify">
          'Techathlon' is an annual Technical Skills Competition organized by ICT Academy of Kerala.
           It’s a unique competition designed in-line with employability skills assessments conducted
            by global organizations. This is an event open to the undergraduate, graduate and postgraduate 
            students where the participants can exhibit and depict their creativity, problem-solving, 
            collaboration, communication and prototyping skills.
          Techathlon 2021 is the 5th edition of this competition. The selected theme for
           this year is Leading the New Normal. The competition will have 5 events conducted for over two weeks.
            The various events for Techathlon 2021 are Hackathon, Codeathon, Courseathon, Interactive Quiz, and
             Digital Treasure Hunt.
        </p>
      </div>
    </div>
  </div>
</section>
  <!-- //second evnet end -->

    <!-- //third event -->
  <section class="section" id="paper-more">
<div class="conclave d-flex justify-content-center ">
  <div class="col-lg-8 card card4 ">
    <div>
      <h2>ICTAK PAPER PRESENTATION</h2>
    </div>
    <div>
      <p class="text-justify">
        ICSET is a premier forum for the ICTAK paper presentation contest, where the presenters can 
        exhibit their research and innovation skills in the field of skills, engineering, technology 
        and employability. As the importance of research is growing as fast as the rapidly changing and 
        challenging world. The main purpose of the research is to get deep into the topic so that something 
        helpful can be churned out which can be used by everybody.

        This paper presentation contest is aimed at developing scientific temper among the scholars and also 
        to provide an opportunity to present their original scientific investigation to the public. The paper
         presentation is aligned to the conference theme and subthemes, its application in the society.
      </p>
    </div>
  </div>
  <div class="col-lg-4 ">
    <div class="card card2-con d-flex justify-content-center">
      <p class="text-center">Last Date for Abstract Submission: <b>2021 Feb 25</b></p>
      <p class="text-center">Acceptance Notification: <b>2021 Feb 28</b></p>
      <hr> <br> 
      <p class="text-center text-success">Registration Date: <b>2021 Mar 05</b></p>
      <p class="text-center text-success"> Camera Ready Paper: <b> 2021 Mar 31</b></p>
      
    </div>

  </div>
</div>
</section>
<!-- //third evnet end -->

</div>

<div class="dwnld">
  <div class="text-center">
    <h5>Download the booklet for more details on the event</h5>
  </div>
  <div  class="d-flex justify-content-center">
    <a href="https://ictkerala.org/icset2021/files/ICSET-2021-Booklet.pdf" class="btn btn1">Download Booklet</a>
  </div>
</div>


<app-footer></app-footer>
