<div class=" card-fullbody">

    <div class="main-staff-header">
        OUR TEAM
    </div>

    <!-- mainstaff  -->
    <!-- first main  -->
    <div class="container1">
        <div class="col">
            <div class="card-space-main">
                <!-- ngfor -->
                <div class="father main-staff">
                    <div class="front main-s">
                        <header>
                        </header>
                        <img alt="avatar" src="assets/images/second-trainer.jpg">
                        <h1>AbdelRahman</h1>
                        <h5>
                            Software Engineer
                        </h5>
                    </div>
                    <div class="back">
                        <p> dgg</p>
                    </div>
                </div>
                <div class="father main-staff">
                    <div class="front main-s">
                        <header>
                        </header>
                        <img alt="avatar" src="assets/images/second-trainer.jpg">
                        <h1>AbdelRahman</h1>
                        <h5>
                            Software Engineer
                        </h5>
                    </div>
                    <div class="back">
                        <p> dgg</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- other staff  -->

    <!-- <div class="container1"> -->
    <div class="col">
        <div class="card-space">
            <!-- ngfor -->
            <div class="father other-staff">
                <div class="front other-s">
                    <header>
                    </header>
                    <img alt="avatar" src="assets/images/second-trainer.jpg">
                    <h1>AbdelRahman</h1>
                    <h5>
                        Software Engineer
                    </h5>
                </div>
                <div class="back">
                    <div>
                        <p> Details</p>
                    </div>
                    <div class="email2"><i class="fas fa-envelope"></i>
                        <p>email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- second  -->